SECRET_KEY=yoursecretkey
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

DB_NAME=tattoo_db
DB_USER=tattoo_user
DB_PASSWORD=yourdbpassword
DB_HOST=database
DB_PORT=5432

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=yourrabbitpassword
CELERY_BROKER_URL=amqp://admin:yourrabbitpassword@rabbitmq:5672//
CELERY_RESULT_BACKEND=rpc://

TELEGRAM_BOT_TOKEN = "yourtelegrambottoken"

FAL_KEY=yourfalaiapikey

SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=youremail
SUPERUSER_PASSWORD=yoursuperuserpassword



#Для инференса выбрать параметры:


#Параметры для модели fal-ai/flux-lora 5000

#MODEL = "fal-ai/flux-lora"

#LORA = "https://v3.fal.media/files/koala/IVHmdaYvIIp3lU2b34HA6_pytorch_lora_weights.safetensors"

#TRIG  = "<single continuous black line with smooth and graceful curves without breaks>"




#Параметры для модели fal-ai/flux-lora 3000

#MODEL = "fal-ai/flux-lora"

#LORA = "https://v3.fal.media/files/penguin/O1_RKyPsRx0phG9Dpy65P_pytorch_lora_weights.safetensors"

#TRIG  = "<single continuous black line drawing, minimalism, no shading, no breaks>"



#Параметры для модели fal-ai/flux-general 2000

MODEL = "fal-ai/flux-general"

LORA = "https://v3.fal.media/files/kangaroo/1FNHuASaCYOwCQ8jw3zvx_lora.safetensors"

TRIG  = "<single_line>"
